@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
$tipo__titulos: 'Roboto', sans-serif;
$tipo__textos: 'Roboto', sans-serif;
@import "~bootstrap/scss/bootstrap";
@import "colors.scss";
@import "mixins.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root, body{
  --font-family-sans-serif:'Roboto', sans-serif;
  --link-color: $white;
  --size-sm: clamp(0.7rem, 0.32vw + 0.64rem, 0.89rem);
  --size-base: clamp(0.88rem, 0.52vw + 0.77rem, 1.19rem);
  --size-lg: clamp(1.09rem, 0.82vw + 0.93rem, 1.58rem);
  --size-xl: clamp(1.37rem, 1.24vw + 1.12rem, 2.11rem);
  --size-xxl: clamp(1.71rem, 1.84vw + 1.34rem, 2.81rem);
  --size-xxxl: clamp(2.14rem, 2.69vw + 1.6rem, 3.75rem);
  --line-height-base: clamp(1.3rem, 0.52vw + 1.57rem, 2.38rem);
  --line-height-md: clamp(1.5rem, 0.82vw + 1.7rem, 2.52rem);
  --line-height-xl: clamp(2rem, 1.52vw + 2.12rem, 4.02rem);
  --transition-base: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}
/* ---------------------------------------------------------------------------- */
/*Navbar section*/
/* ---------------------------------------------------------------------------- */
.navbar{
  background-color: $blue;
  padding-top: 2rem;
  @include media(400px){
    padding-top: 0.5rem;
  }
  &-collapse{
    @include mediadelante(992px){
      flex-grow: 0;
    }
  }
  &-border{
    @include flex(flex, row, wrap, center, center);
    border-bottom: 1px solid $white;
    padding-bottom: 2rem;
    @include media(991px){
      border: none;
      padding-bottom: 0.5rem;
    }
  }
  &__login{

    @include flex(flex, row, wrap, center, space-around);
    @include media(992px){
      @include flex(flex, row, wrap, start, center);
      width: 100%;
      flex-grow: 1;
      margin-top: 0.5rem;
    }
    &__button{
      background-color: $white;
      border: none;
      padding: 0 1rem;
      i{
        margin-right: 1rem;
        @include media(400px){
          display: none;
        }
      }
      &:hover{
        background-color: $yellow;
      }
    }
    &__link{
      transition: var(--transition-base);
      &:visited, &:link{
      color: $white;
      }
      &:hover{
        color: $yellow;
      }
    }
  }
  &-brand{
    img{
      width: 5rem;
    }
  }
  &-toggler{
    color: $blue;
    font-size: 2rem;
    background-color: $white;
  }
}
.navbar-nav .nav-link{
  margin-left: 1rem;
  transition: var(--transition-base);
  &:first-child{
    margin-left: 0;
  }
  &:visited, &:link{
    color: $white;
  }
  &:hover{
    color: $black;
    background-color: $yellow;
  }
}
/* ---------------------------------------------------------------------------- */
/*Hero section*/
/* ---------------------------------------------------------------------------- */
.hero{
  background: url('../img/bg-line-blue.jpg') no-repeat bottom center;
  background-size: 100% auto;

  background-color: $blue;
  height: 95svh;
  @include media(400px){
    height: auto
  }
  @include flex(flex, row, wrap, center, center);
  width: 100%;
  color:$white;
  &__wrapper{
  @include flex(flex, row, wrap, space-between, center);
  }
  &__aside{
    width: 50%;
    @include media(992px){
      width: 100%;
    }
    @include flex(flex, row, wrap, start    , center);
    &__h1{
      @include titulo(4rem, $white);
      width: 75%;
      @include media(992px){
        padding-top: 5rem;
        width: 100%;
        font-size: var(--size-xxxl);
      }
    }
    &__p{
      @include parrafo($tipo__textos, var(--size-base), 400, $white);
      width: 75%;
      margin: 0;
      padding: 0;
    }
    &__button{
      @include media(992px){
        text-align: center;
        margin: 1rem auto;
      }
      @include flex(flex, row, wrap, space-around, center);
      transition: var(--transition-base);
      background-color: $white;
      font-size: var(--size-base);
      border: none;
      margin: 2.5rem 0;
      padding: 1rem 1.5rem;
      i{
        margin-left: 1rem;
      }
      &:hover{
        background-color: $yellow;
      }
    }
  }
  &__trusted{
    width: 95%;
    @include flex(flex, row, wrap, space-around, center);
    &__text{
      @include flex(flex, row, wrap, center, center);
      @include parrafo($tipo__textos, var(--size-sm), 900, $white);
      margin: 0;
      padding: 0;
    }
    &__img{
      width: 18%;
    }
    @include media(992px){
      margin-bottom: 2rem;
    }
  }
  &__article{
    width: 40%;
    @include media(992px){
      width: 100%;
    }
    transition: var(--transition-base);
    background-color: $white;
    color: $black;
    padding: 2rem;
    border-radius:1rem 1rem 5rem 1rem;
    &__header{
      @include flex(flex, row, wrap, space-between, center);
      &__span{
        @include flex(flex, row, wrap, center, center);
        @include titulo(var(--size-lg), $indigo);
      }
      &__button{
        transition: var(--transition-base);
        border: 1px solid $gray-500;
        padding: 1rem 1.5rem;
        background: none;
        &:hover{
          background-color: $yellow;
        }
      }
    }
  }
  &__creditcard{
    background: linear-gradient(90deg, $indigo 35%, $purple 100%);;
    padding:1.5rem 2rem;
    color: $white;
    border-radius: 1rem;
    &__header{
      @include flex(flex, row, wrap, space-between, center);
      &__img{
        width: 20%;
      }
      &__span{
        @include flex(flex, row, wrap, center, center);
        padding:0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: $green;
        @include parrafo($tipo__textos, var(--size-sm), 900, $white);
      }
    }
    &__number{
      margin-top: 1rem;
      span{
        text-transform: uppercase;
              }
      p{
        @include titulo(var(--size-lg), $white);
        text-align: center;
        margin: 1rem 0;
      }
    }
    &__info{
      &__span{
        text-transform: uppercase;
      }
      &__p{
        @include parrafo($tipo__textos, var(--size-sm), 900, $white);
      }
    }
    &__footer{
      &__a{
        display: block;
        @include parrafo($tipo__textos, var(--size-base), 900, $blue);
        text-decoration: dotted;
        &:hover{
          color: $yellow;
          text-decoration: none;
        }
      }
      &__article{
        width: 100%;
        border-bottom: 1px solid $gray-600;
        div{
          @include flex(flex, row, wrap, space-between, center);
          span{
            @include parrafo($tipo__textos, var(--size-base), 400, $indigo);
          }
        }
        p{
          @include parrafo($tipo__textos, var(--size-sm), 400, $gray-600);
        }
      }
    }
  }
}
/* ---------------------------------------------------------------------------- */
/*Tools section*/
/* ---------------------------------------------------------------------------- */
.tools{
  color: $darkblue;
  margin-top: 5rem;
  @include flex(flex, row, wrap, space-between, center);
  &__card{
    transition: var(--transition-base);
    background-color: $white;
    padding: 2rem;
    border: 1px solid $gray-300;
    border-radius:1rem 1rem 5rem 1rem;
    &__h3{
      @include titulo(var(--size-lg), $darkblue);
    }
    &__video{
      width: 100%;
      cursor: pointer;
      margin:0  0 2rem 0;
      @include flex(flex, row, wrap, space-between, center);
    }
    &__hour{
      color: $gray-500;
    }
  }
  &__info{
    &__h2{
      @include titulo(var(--size-xl), $white);
      margin-bottom: 1rem;
      span{
        border-radius: 2rem;
        padding:0.5rem 1rem;
        background-color: $yellow;
      }
    }
    &__lead{
      @include parrafo($tipo__textos, var(--size-lg), 900, $darkblue);
    }
    &__p{
      @include parrafo($tipo__textos, var(--size-base), 700, $gray-700);
    }
  }

}

/* ---------------------------------------------------------------------------- */
/* Features section*/
/* ---------------------------------------------------------------------------- */

.features{
  &__info{
    &__h2{
      @include titulo(var(--size-xl), $white);
      margin-bottom: 1rem;
      span{
        border-radius: 2rem;
        padding:0.5rem 1rem;
        background-color: $green;
      }
    }
    &__lead{
      @include parrafo($tipo__textos, var(--size-lg), 900, $darkblue);
    }
    &__p{
      @include parrafo($tipo__textos, var(--size-base), 400, $gray-700);
    }
    &__ul{
      @include parrafo($tipo__textos, var(--size-base), 400, $gray-700);
      list-style: none;
      li{
        @include parrafo($tipo__textos, var(--size-base), 700, $green);
        @include flex(flex, row, wrap, start, center);
        margin-bottom: 1rem;
        &:before{
          content: '\F26A';
          font-family: "bootstrap-icons";
          width: 1rem;
          height: 1rem;
          color: $green;
          margin-right: 1rem;
          display: inline-block;

        }
      }
    }
  }
  &__video{
    position: relative;
    &__img{
      border-radius: 2rem;
    }
    &__button{
      @include parrafo($tipo__textos, var(--size-sm), 400, $black);
      position: absolute;
      top: 5%;
      left: 15%;
      transform: translate(-50%, -50%);
      @include flex(flex, row, wrap, space-around, center);
      transition: var(--transition-base);
      background-color: $white;
      font-size: var(--size-base);
      border: none;
      margin: 2rem 0;
      padding: 0.5rem 1.5rem;
      i{
        margin-left: 1rem;
      }
      &:hover{
        background-color: $yellow;
      }
    }

  }
}

/* ---------------------------------------------------------------------------- */
/*Technology section*/
/* ---------------------------------------------------------------------------- */

.technology{
  &__info{
    &__h2{
      @include titulo(var(--size-xl), $white);
      margin-bottom: 1rem;
      span{
        border-radius: 2rem;
        padding:0.5rem 1rem;
        background-color: $blue;
      }
    }
    &__lead{
      @include parrafo($tipo__textos, var(--size-lg), 900, $darkblue);
    }
    &__p{
      @include parrafo($tipo__textos, var(--size-base), 400, $gray-700);
    }
    &__a{
      transition: var(--transition-base);
      display: block;
      @include parrafo($tipo__textos, var(--size-base), 900, $blue);
      text-decoration: dotted;
      &:hover{
        color: $yellow;
        text-decoration: none;
      }

    }
  }
}

/*-----Cards-----*/

.card-photo{
  border: 1px solid $gray-300;
  border-radius: 1rem ;
  overflow: hidden;
  &__img{
    width: 100%;
  }
  &__footer{
    @include flex(flex, row, wrap, space-between, center);
    padding: 1rem;
  }
  &__avatar{
    @include parrafo($tipo__textos, var(--size-sm), 700, $white);
    @include flex(flex, row, wrap, center, center);
    padding: 0.5rem 0.6rem;
    background-color: $yellow;
    border-radius: 50%;
  }
  &__name{
    @include flex(flex, row, wrap, center, center);
    @include parrafo($tipo__textos, var(--size-sm), 700, $gray-900);
  }
  &__like{
    @include flex(flex, row, wrap, center, center);
  }
}
.card-simple{
  @include flex(flex, row, wrap, space-around, center);
  border: 1px solid $gray-300;
  border-radius: 1rem ;
  overflow: hidden;
  padding: 1rem;
  margin-top: 2rem;
  p{
    margin: 0;
  }
  &__icon{
    @include flex(flex, row, wrap, center, center);
    width: fit-content;
    i{
      color: $white;
      font-size: var(--size-lg);
      background-color: $green;
      border-radius: 5rem;
      display: inline-block;
      padding:0.1rem 0.6rem;

    }
  }
  &__div{
    width:fit-content;
  }
  &__lead{
    @include parrafo($tipo__textos, var(--size-base), 700, $gray-900);
  }
  &__info{
    @include parrafo($tipo__textos, var(--size-sm), 400, $gray-700);
  }
}
.card-truster{
  @include flex(flex, column, wrap, center, center);
  text-align: center;
  border: 1px solid $gray-300;
  border-radius: 1rem ;
  overflow: hidden;
  padding: 2rem 1rem;
  width: fit-content;
  background-color: $white;
  p{
    margin: 0;
  }
  &__img{
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  &__lead{
    @include parrafo($tipo__textos, var(--size-base), 700, $gray-900);
  }
  &__info{
    @include parrafo($tipo__textos, var(--size-sm), 700, $gray-700);
  }
}
.card-company{
  @include flex(flex, column, wrap, center, center);
  text-align: center;
  border: 1px solid $gray-300;
  border-radius: 1rem ;
  overflow: hidden;
  padding: 2rem 1rem;
  width: fit-content;
  background-color: $white;
  &__img{
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  &__lead{
    max-width: 15rem;
    @include parrafo($tipo__textos, var(--size-lg), 400, $gray-600);
    margin: 3rem 0;
  }
  &__info{
    @include flex(flex, column, wrap, center, center);
    text-align: center;
    margin: 0 auto;
    @include parrafo($tipo__textos, var(--size-base), 700, $gray-700);
    border-bottom: 3px solid $gray-300;
    a{
      transition: var(--transition-base);
      color: $black;
      text-decoration: none;
      &:hover{
        color: $blue;
      }
    }

  }
}

.card-kit{
  @include flex(flex, column, wrap, center, center);
  text-align: center;
  border: 1px solid $gray-300;
  border-radius: 1rem ;
  overflow: hidden;
  padding: 2rem 1rem;
  margin-top: 2rem;

  &__img{
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
  }
  &__lead{
    @include parrafo($tipo__textos, var(--size-lg), 700, $gray-900);
    margin: 1rem 0;
  }
  &__avatars{
    @include flex(flex, row, wrap, center, center);
    &__img{
      width: 25%;
      border-radius: 50%;
      border: 5px solid $gray-100;
      margin-left: -1rem;
      &:first-child{
        margin-left: 0;

      }
    }

  }
  &__footer{
    border-top:1px solid $gray-300; ;
    margin: 0 auto;
    width: 50%;
    margin-top: 1rem;
    @include flex(flex, row, wrap, space-around, center);
    padding: 1rem;
  }
}


/* ---------------------------------------------------------------------------- */
/* Install section*/
/* ---------------------------------------------------------------------------- */

.install{
  &__info{
    &__h2{
      @include titulo(var(--size-xl), $white);
      margin-bottom: 1rem;
      span{
        border-radius: 2rem;
        padding:0.5rem 1rem;
        background-color: $yellow;
      }
    }
    &__lead{
      @include parrafo($tipo__textos, var(--size-lg), 900, $darkblue);
    }
    &__p{
      @include parrafo($tipo__textos, var(--size-base), 400, $gray-700);
    }
    &__ul{
      @include parrafo($tipo__textos, var(--size-base), 400, $gray-700);
      list-style: none;
      li{
        @include parrafo($tipo__textos, var(--size-base), 700, $green);
        @include flex(flex, row, wrap, start, center);
        margin-bottom: 1rem;
        &:before{
          content: '\F26A';
          font-family: "bootstrap-icons";
          width: 1rem;
          height: 1rem;
          color: $green;
          margin-right: 1rem;
          display: inline-block;

        }
      }
    }
    &__apps{
      background-color: $black;
      padding: 0.5rem 0;
      cursor: pointer;
      margin-top: 2rem;
      @include flex(flex, row, wrap, space-around, center);
      @include parrafo($tipo__textos, var(--size-sm), 400, $white);
      i{
        @include flex(flex, row, wrap, center, center);
        width: fit-content;
        font-size: 2rem;
      }
      &__a{
        width: fit-content;
        display: inline-block;
        span{
          display: block;
          width: 100%;
          @include parrafo($tipo__textos, var(--size-lg), 700, $white);
        }
      }
    }

  }
  &__video{
    position: relative;
    &__img{
      border-radius: 2rem;
    }
    &__button{
      @include parrafo($tipo__textos, var(--size-sm), 400, $black);
      position: absolute;
      top: 5%;
      left: 15%;
      transform: translate(-50%, -50%);
      @include flex(flex, row, wrap, space-around, center);
      transition: var(--transition-base);
      background-color: $white;
      font-size: var(--size-base);
      border: none;
      margin: 2rem 0;
      padding: 0.5rem 1.5rem;
      i{
        margin-left: 1rem;
      }
      &:hover{
        background-color: $yellow;
      }
    }

  }
}


/* ---------------------------------------------------------------------------- */
/* Solutions section*/
/* ---------------------------------------------------------------------------- */

.solutions{
  &__container{
    @include flex(flex, row, wrap, space-around, center);
    background-color: $indigo;
    border-radius: 0 5rem  0 5rem;
    padding: 5rem;
    @include parrafo($tipo__textos, var(--size-base), 400, $white);
  }
  &__info{
    &__h2{
      @include titulo(var(--size-xl), $white);
      margin-bottom: 1rem;
    }

  }
  &__cta{
    @include flex(flex, row, wrap, center, center);
  }
  &__button{
    transition: var(--transition-base);
    background-color: $white;
    border: none;
    padding: 0.8rem 1rem;
    i{
      margin-right: 1rem;
    }
    &:hover{
      background-color: $yellow;
    }
  }
}

/* ---------------------------------------------------------------------------- */
/* Awards section*/
/* ---------------------------------------------------------------------------- */

.awards{
  background-color: $gray-200;
  padding: 5rem 0;
  margin-top: 5rem;
  &__h2{
    @include titulo(var(--size-xl), $white);
    margin-bottom: 1rem;
    span{
      border-radius: 2rem;
      padding:0.5rem 1rem;
      background-color: $blue;
    }
  }
  &__lead{
    @include parrafo($tipo__textos, var(--size-lg), 900, $darkblue);
  }
  &__p{
    @include parrafo($tipo__textos, var(--size-base), 700, $gray-700);
  }
  &__companies{
    @include flex(flex, row, wrap, space-evenly, center);
    margin-top: 2rem;
    @include media (1670px){
      div{
        margin-top: 5rem;
      }
    }
    @include mediadelante(1400px){
      div:nth-child(odd){
        transform: translate(0, 2rem);
      }
    }
  }
}


/* ---------------------------------------------------------------------------- */
/* Answers section*/
/* ---------------------------------------------------------------------------- */

.answers {
  margin-top: 5rem;
  &__h2{
    text-align: center;
    @include titulo(var(--size-xl), $indigo);
    margin-bottom: 1rem;
  }
  &__lead{
    text-align: center;
    @include parrafo($tipo__textos, var(--size-lg), 900, $darkblue);
  }
  &__accordion{
    margin: 2rem 0;
  }
}
.card{
  margin-bottom: 2rem;
  border: 1px solid $gray-300 !important;
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.25);
-webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.25);
  button{

    text-decoration: none !important;
    color: $darkblue;
    :hover{
      text-decoration: none !important;
    }
  }
}
.card-header{
  position: relative;
  height: auto;
  &:after{
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    transform: translate(0,35%);
    content: '\F4F9';
    font-family: "bootstrap-icons";

    color: $gray-500;

  }
}
/* ---------------------------------------------------------------------------- */
/* Newproject section*/
/* ---------------------------------------------------------------------------- */


.newproject{
  &__lead{
    width: 100%;
    @include parrafo($tipo__textos, var(--size-lg), 700, $darkblue);
  }
  &__button{
    transition: var(--transition-base);
    background-color: $blue;
    color: $white;
    border: none;
    padding: 0.8rem 1rem;
    margin-right: 2rem;
    i{
      margin-right: 1rem;
    }
    &:hover{
      background-color: $yellow;
    }
  }
}
/* ---------------------------------------------------------------------------- */
/* Footer section*/
/* ---------------------------------------------------------------------------- */
.footer{
  margin-top: 5rem;
  padding-top: 10rem;
  background: url('../img/bg-line-indigo.jpg') no-repeat top center;
  background-size: 100% auto;
  background-color: $indigo;
  color: $white;
  &__button{
    transition: var(--transition-base);
    background-color: $white;
    border: none;
    padding: 0.8rem 1rem;
    margin-right: 2rem;
    @include parrafo($tipo__textos, var(--size-sm), 700, $black);
    i{
      margin-right: 1rem;
    }
    &:hover{
      background-color: $yellow;
    }
  }
  p{
    margin: 0;
  }
  &__header{
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray-100;
    &__lead{
      @include parrafo($tipo__textos, var(--size-lg), 700, $white);
    }
    &__p{
      @include parrafo($tipo__textos, var(--size-base), 400, $gray-300);
    }
    &__buttons{
      text-align: right;
      @include media(991px){
        margin-top: 2rem;
        text-align: center;
      }
    }
  }
  &__content{
    padding: 2rem 0;
    border-bottom: 1px solid $gray-100;
    &__logo{
      width: 4rem;
      margin-bottom: 1rem;
    }
    &__p {
      @include parrafo($tipo__textos, var(--size-sm), 400, $white);
      margin-top: 2rem;
    }
    &__columns {
      @include flex(flex, row, wrap, space-between, center);
      @include media(991px){
        margin-top: 2rem;
      }
    }
    &__column {
      width: 30%;
      @include flex(flex, column, wrap, start, center);
      &__h3{
        @include parrafo($tipo__textos, var(--size-base), 900, $white);
        padding-bottom: 1rem;
      }
      &__a{
        transition: var(--transition-base);
        color: $white;
        &:hover{
          color: $yellow;
        }
      }

    }
    &__socials{
      @include flex(flex, row, wrap, space-around, center);
      margin-top: 2rem;
      &__a{
        transition: var(--transition-base);
        color: $white;
        &:hover{
          color: $yellow;
        }
      }
    }
  }
  &__legal{
    @include parrafo($tipo__textos, var(--size-sm), 400, $white);
    margin-top: 2rem;
    padding-bottom: 2rem;
    a{
      transition: var(--transition-base);
      color: $white;
      margin-left: 2rem;
      &:hover{
        color: $yellow;
      }
    }
  }
}

.sectionline-left{
  width: 100%;
  height: 10rem;
  background: url('../img/semi-circle-left.jpg') no-repeat center center;
  background-size:contain;
  @include media(720px){
    background: url('../img/semi-circle-right.jpg') no-repeat center center;
    background-size:contain;
  }
}
.sectionline-right{
  width: 100%;
  height: 10rem;
  background: url('../img/semi-circle-right.jpg') no-repeat center center;
  background-size:contain;
}

.card-animation {
    transition: transform 0.3s ease-in-out;
}


/* ---------------------------------------------------------------------------- */
/* Scripts classes*/
/* ---------------------------------------------------------------------------- */

.progress-container {
  width: 100%;
  height: 0.2rem;
  position: relative;
  background-color: $gray-300;
}

.progress-bar {
  height: 100%;
  background-color:$yellow;
  width: 0;
  position: absolute;
}
.star-rating {
  font-size: 2em;
  cursor: pointer;
}

.star {
  color: #ccc;
  transition: color 0.2s;
}

.star:hover,
.star.active {
  color: #ffcc00;
}
