@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
$tipo__titulos: 'Roboto', sans-serif;
$tipo__textos: 'Roboto', sans-serif;
@import "~bootstrap/scss/bootstrap";
@import "colors.scss";
@import "mixins.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root, body{
  --font-family-sans-serif:'Roboto', sans-serif;
  --link-color: $white;
  --size-sm: clamp(0.7rem, 0.32vw + 0.64rem, 0.89rem);
  --size-base: clamp(0.88rem, 0.52vw + 0.77rem, 1.19rem);
  --size-lg: clamp(1.09rem, 0.82vw + 0.93rem, 1.58rem);
  --size-xl: clamp(1.37rem, 1.24vw + 1.12rem, 2.11rem);
  --size-xxl: clamp(1.71rem, 1.84vw + 1.34rem, 2.81rem);
  --size-xxxl: clamp(2.14rem, 2.69vw + 1.6rem, 3.75rem);
  --line-height-base: clamp(1.3rem, 0.52vw + 1.57rem, 2.38rem);
  --line-height-md: clamp(1.5rem, 0.82vw + 1.7rem, 2.52rem);
  --line-height-xl: clamp(2rem, 1.52vw + 2.12rem, 4.02rem);
  --transition-base: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}
/* ---------------------------------------------------------------------------- */
/*Navbar section*/
/* ---------------------------------------------------------------------------- */
.navbar{
  background-color: $blue;
  padding-top: 2rem;
  &-collapse{
    @include mediadelante(992px){
      flex-grow: 0;
    }
  }
  &-border{
    @include flex(flex, row, wrap, center, center);
    border-bottom: 1px solid $white;
    padding-bottom: 2rem;
  }
  &__login{
    @include flex(flex, row, wrap, center, space-around);
    @include media(992px){
      @include flex(flex, row, wrap, center, center);
      width: 100%;
      flex-grow: 1;
    }
    &__button{
      background-color: $white;
      border: none;
      padding: 0 1rem;
      i{
        margin-right: 1rem;
      }
      &:hover{
        background-color: $yellow;
      }
    }
    &__link{
      transition: var(--transition-base);
      &:visited, &:link{
      color: $white;
      }
      &:hover{
        color: $yellow;
      }
    }
  }
  &-brand{
    img{
      width: 5rem;
    }
  }
  &-toggler{
    color: $blue;
    font-size: 2rem;
    background-color: $white;
  }
}
.navbar-nav .nav-link{
  margin-left: 1rem;
  transition: var(--transition-base);
  &:first-child{
    margin-left: 0;
  }
  &:visited, &:link{
    color: $white;
  }
  &:hover{
    color: $black;
    background-color: $yellow;
  }
}
/* ---------------------------------------------------------------------------- */
/*Hero section*/
/* ---------------------------------------------------------------------------- */
.hero{
  background-color: $blue;
  height: 100svh;
  @include flex(flex, row, wrap, center, center);
  width: 100%;
  color:$white;
  &__wrapper{
  @include flex(flex, row, wrap, space-between, center);
  }
  &__aside{
    width: 50%;
    @include media(992px){
      width: 100%;
    }
    @include flex(flex, row, wrap, start    , center);
    &__h1{
      @include titulo(3rem, $white);
      width: 75%;
    }
    &__p{
      @include parrafo($tipo__textos, var(--size-base), 400, $white);
      width: 75%;
      margin: 0;
      padding: 0;
    }
    &__button{
      @include flex(flex, row, wrap, space-around, center);
      transition: var(--transition-base);
      background-color: $white;
      font-size: var(--size-base);
      border: none;
      margin: 2rem 0;
      padding: 1rem 1.5rem;
      i{
        margin-left: 1rem;
      }
      &:hover{
        background-color: $yellow;
      }
    }
  }
  &__trusted{
    width: 95%;
    @include flex(flex, row, wrap, space-around, center);
    &__text{
      @include flex(flex, row, wrap, center, center);
      @include parrafo($tipo__textos, var(--size-sm), 800, $white);
      margin: 0;
      padding: 0;
    }
    &__img{
      width: 18%;
    }
  }
  &__article{
    width: 40%;
    @include media(992px){
      width: 100%;
    }
    transition: var(--transition-base);
    background-color: $white;
    color: $black;
    padding: 2rem;
    border-radius:1rem 1rem 5rem 1rem;
    &__header{
      @include flex(flex, row, wrap, space-between, center);
      &__span{
        @include flex(flex, row, wrap, center, center);
        @include titulo(var(--size-lg), $indigo);
      }
      &__button{
        transition: var(--transition-base);
        border: 1px solid $gray-500;
        padding: 1rem 1.5rem;
        background: none;
        &:hover{
          background-color: $yellow;
        }
      }
    }
  }
  &__creditcard{
    background: linear-gradient(90deg, $indigo 35%, $purple 100%);;
    padding:1.5rem 2rem;
    color: $white;
    border-radius: 1rem;
    &__header{
      @include flex(flex, row, wrap, space-between, center);
      &__img{
        width: 20%;
      }
      &__span{
        @include flex(flex, row, wrap, center, center);
        padding:0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: $green;
        @include parrafo($tipo__textos, var(--size-sm), 800, $white);
      }
    }
    &__number{
      margin-top: 1rem;
      span{
        text-transform: uppercase;
              }
      p{
        @include titulo(var(--size-lg), $white);
        text-align: center;
        margin: 1rem 0;
      }
    }
    &__info{
      &__span{
        text-transform: uppercase;
      }
      &__p{
        @include parrafo($tipo__textos, var(--size-sm), 800, $white);
      }
    }
    &__footer{
      &__a{
        display: block;
        @include parrafo($tipo__textos, var(--size-base), 800, $blue);
        text-decoration: dotted;
        &:hover{
          color: $yellow;
          text-decoration: none;
        }
      }
      &__article{
        width: 100%;
        border-bottom: 1px solid $gray-600;
        div{
          @include flex(flex, row, wrap, space-between, center);
          span{
            @include parrafo($tipo__textos, var(--size-lg), 400, $indigo);
          }
        }
        p{
          @include parrafo($tipo__textos, var(--size-base), 400, $gray-600);
        }
      }
    }
  }
}
/* ---------------------------------------------------------------------------- */
/*Tools section*/
/* ---------------------------------------------------------------------------- */
.tools{
  color: $darkblue;
  margin-top: 5rem;
  @include flex(flex, row, wrap, space-between, center);
  &__card{
    transition: var(--transition-base);
    background-color: $white;
    padding: 2rem;
    border: 1px solid $gray-300;
    border-radius:1rem 1rem 5rem 1rem;
    &__h3{
      @include titulo(var(--size-lg), $darkblue);
    }
    &__video{
      width: 100%;
      margin:0  0 2rem 0;
      @include flex(flex, row, wrap, space-between, center);
    }
    &__hour{
      color: $gray-500;
    }
  }
  &__info{
    &__h2{
      @include titulo(var(--size-xl), $darkblue);
      span{
        border-radius: 2rem;
        padding:0.5rem 1rem;
        background-color: $yellow;
      }
    }
    &__lead{
      @include parrafo($tipo__textos, var(--size-lg), 800, $darkblue);
    }
    &__p{
      @include parrafo($tipo__textos, var(--size-base), 400, $gray-700);
    }
  }

}


/* ---------------------------------------------------------------------------- */
/*Footer section*/
/* ---------------------------------------------------------------------------- */
.footer{
  background-color: $indigo;
}

.progress-container {
  width: 100%;
  height: 0.2rem;
  position: relative;
  background-color: $gray-300;
}

.progress-bar {
  height: 100%;
  background-color:$yellow;
  width: 0;
  position: absolute;
}
.sectionline-left{
  width: 100%;
  height: 10rem;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path d="M50,50 A40,40 0 0,1 90,50 L50,50 Z" fill="transparent" stroke="#ccc" stroke-width="5" stroke-dasharray="5,5" /></svg>') no-repeat center center;
}
